.display {
  a.address {
    text-decoration: none;
  }
  a.address:hover {
    text-decoration: underline;
  }
}

/* Light Theme */
.app-container.light {
  .display {
    a.address {
      color: #333;
    }
  }
}

/* Dark Theme */
.app-container.dark {
  .display {
    a.address {
      color: #FFF;
    }
  }
}