div.nft-tickets {
  display: grid;
  grid-template-columns: repeat(2, 280px);
  grid-template-rows: repeat(1, 120px);
  /* border: 1px solid red; */
  .nft-card {
    height: 80px;
    width: 260px;
    border-radius: 12px;
    border: 1px solid #cfcfcf;
    margin: 8px;
  }
  .nft-col {
    padding: 8px;
  }
  .nft-name {
    padding: 8px;
    font-weight: 600;
  }
}
